<%= form_with(model: @teacher, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'button' %>
  </div>
<% end %>
