<h1>Classes</h1>

<ul>
  <% @sclasses.each do |sclass| %>
    <li>
      <%= link_to sclass.name, sclass_path(sclass) %> |
      <%= link_to 'Edit', edit_sclass_path(sclass) %> |
      <%= link_to 'Delete', sclass, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Class', new_sclass_path %>
<%= link_to 'Back to Students', students_path %>